<?xml version="1.0"?>
<model>
  <name>simple_diff_bot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>A simple differential drive robot for Ignition Gazebo Harmonic.</description>
  <author>
    <name>Example Author</name>
    <email>example@example.com</email>
  </author>
</model>
